h1 {
  text-align: center;
}
.options {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.option {
  display: flex;
  flex-direction: column;
}
img {
  width: 300px;
}
button {
  margin: 20px auto;
  width: 50%;
}

h3 {
  text-align: center;
}
.hidden {
  display: none;
}
